<div class="col-lg-4 col-md-6 col-12">
  <div class="card cardstyling">
    <% if event.images.attached? %>
        <%= image_tag event.images[0], class: 'card-img-top cardimagesize' %>
    <% end %>
    <div class="card-body">
      <% user_event = event.user_event(current_user) %>
      <% if user_event %>
        <%= render user_event, event: event %>
      <% end %>
      <h5 class="card-title"><%= event.title %></h5>
      <p class="card-text"><%= event.description %></p>
      <ul>
        <li class="list-group list-group-flush">
          <%= event.city %>, <%= event.state %>
        </li>
      </ul>
      <%= link_to "Event Info", event %>
    </div>
  </div>
</div>