<div class="event-show-backdrop"></div>
<% if !@event.canceled %>
	

<div class="event-wrapper">
	<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
	  
		<%= render 'event_image' %>

	  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<% if @user_event.present? %>
	<!-- instance from events controller show action -->
		<%= render @user_event %>
	<% else %>
		<%= render 'user_events/user_event', locals: {saved: false, event_id: @event.id} %>
	<% end %>
	
	<div class="row info-row">
		<div class="col-sm-6 col-12 col-border">
			<p> <%= @event.description %> </p>
		</div>
		<div class="col-sm-3 col-12 order-sm-first col-border">
			<p> <%= @event.title %> </p>
			<p> <%= @event.address %> </p>
			<p> <%= @event.city %> </p>
			<p> <%= @event.state %> </p>
			<p> <%= @event.start %> </p>
		</div>
		<div class="col-sm-3 col-12">
			<p> <%= @event.code %> HF57KH1 </p>
			 <p> <%= link_to "Use Code Here", user_going_path(event_id: @event.id), class: 'buy-link btn btn-success' %> </p>
			 <p> <%= link_to "Organizer Page", @event.business_page_link %> </p>
		</div>
	</div>
</div>
	<% if @event.business == current_business %>
		<div class="business-controls">
			<%= link_to "Edit or Cancel Event", edit_event_path %>
		</div>
	<% end %>
<% else %>
	<h2>This event has been cancelled. Click <%= link_to "Here", events_path %> to see more.</h2>
<% end %>