<!DOCTYPE html>
<html>
  <head>
    <title>EventFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Home", root_path, class: 'navbar-brand themecolor' %>
      <% if business_signed_in? %>
        <li>
          <%= link_to "New Event", new_event_path, class: 'navbar-brand themecolor' %>
        </li>
      <% end %>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="ml-auto p-2 nav-item dropdown">
            <%= link_to current_user.first_name, '#', class: 'nav-link dropdown-toggle themecolor', role: 'button', data: {toggle: 'dropdown'} %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", current_user, class: 'dropdown-item' %>
              <%= link_to "Settings", edit_user_registration_path(current_user), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% elsif business_signed_in? %>
          <li class="ml-auto p-2 nav-item dropdown">
            <%= link_to current_business.company_name, '#', class: 'nav-link dropdown-toggle themecolor', role: 'button', data: {toggle: 'dropdown'} %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Settings", edit_user_registration_path(current_user), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Organizer Log In", new_business_session_path, class: 'nav-link themecolor' %>
          </li>
          <li class="nav-item">
            <%= link_to "User Log In", new_user_session_path, class: 'nav-link themecolor' %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% if notice || alert %>
  	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
      